body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #f1f1f1 !important;
}

img {
  max-width: 100%;
}

.menu {
  background-color: #405264;
  height: 300px;
  text-align: center;

  .options {
    display: flex;
    height: 50px;
    justify-content: center;
  }
  .item {
    color: white;
    margin-left: 30px;
    margin-top: 10px;
    font-size: small;
  }
}

.slider {
  display: flex;
  height: 50px;
  justify-content: center;
  margin-top: 30px;

  .title {
    font-size: large;
  }

  .subtitle {
    font-size: small;
  }
}

.textCenter {
  text-align: center;
}

.fw-bold {
  font-weight: bold !important;
}

.search {
  margin-left: 26px;
  margin-top: 18px;
  .search-text {
    display: flex;
    margin-top: 6;

    input {
      background: none !important;
      border: none !important;
      box-shadow: none !important;
      width: 390px !important;
      color: white;
      margin-left: 0;
      padding: 10px;
      text-align: center;
      margin-right: 5;
    }

    .icon {
      color: white;
      margin-top: 10px;
    }
  }

  .input-group-text {
    background: none;
    color: white;
    border: none;
  }
}

.clickable {
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 22px;
  padding: 10px;
  max-width: min-content;
  .grid-first-item {
    grid-area: 1 / 1 / span 2 / span 2;
    background-color: #b9b7b7;
    text-align: center;
    padding: 20px;
    width: 250px;
    height: 562px;
    border-radius: 5px;
    border-radius: 5px;
    word-break: break-word;
  }
  .grid-item {
    background-color: #b9b7b7;
    text-align: center;
    padding: 20px;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    word-break: break-word;
    img {
      width: 215px;
      height: 130px;
    }
  }
  .title {
    font-weight: bolder;
    font-size: 15pt;
    font-family: cursive;
  }
}

.grid-flex {
  display: flex;
  justify-content: center;
}

.sections {
  display: flex;
  place-content: center;
  margin-left: 800px;

  .nav-item {
    display: flex;
    margin: right;
    justify-content: center;
    margin-left: 730px;
  }
}

.card-flex {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.section-card-item {
  width: 586px;
  padding: 28px;
  height: 500px;
  margin-right: 20px;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-45 {
  margin-top: 45px !important;
}

.graph-item {
  display: flex;
  place-content: space-between;
}

.loadingIcon {
  img {
    left: 50%;
    margin-top: -125px;
    margin-left: -125px;
    position: absolute;
    top: 50%;
    width: 250px;
  }
}

.contactForm {
  input {
    background-color: #ededed;
    border-radius: 6px;
    width: 345px;
    padding: 10px;
    border-color: none !important;
    border: none;
  }

  button {
    text-transform: none;
    color: white;
    background-color: #2784e9;
    width: 175px;
    height: 40px;
  }
}

.business-section {
  width: 350px;

  .item {
    padding: 20px;
    height: 371px;
    margin-right: 20px;
  }
}

.business-title {
  text-align: center;
  padding: 60px;
}

.nav-link-item {
  color: #007bff !important;
}

.selected-image {
  background-color: #3f9bff !important;
  color: white;
}

.search-paper {
  text-align: start;
  padding: 14px;
  background-color: #405264 !important;
  color: white !important;
  width: 383px;
  border: 1px solid grey;
  z-index: 1;
  position: absolute;
  margin-top: 60px;
  margin-left: 160px;
}

.selected-search-item {
  background-color: #63c2d1;
  color: black;
  border-radius: 2px;
}

.ml-25 {
  margin-left: 25px !important;
}
.p-8 {
  padding: 8px !important;
}

.fs-14 {
  font-size: 14pt;
}

.errorMsg {
  color: red;
  display: flex;
  margin-left: 110px;
  margin-bottom: 18px;
}

.mb-20 {
  margin-bottom: 20px;
}

.selected-business-item {
  background-color: #283642 !important;
  color: rgb(245, 235, 235) !important;
}

.not-selected-business-item {
  background-color: rgb(245, 235, 235) !important;
  color: rgb(0, 0, 0) !important;
}

.white-text {
  color: rgb(245, 235, 235);
}

.gallery-title {
  display: flex !important;
  justify-content: center !important;
}
